.NavBar-welcome {
  display: block;
  color: rgb(253, 251, 251);
  margin-top: 8px;
  /* font-weight: bold; */
  font-size: 25px;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(85, 6, 43, 0.63);
}

li {
  float: right;
}

li a{
  display: block;
  color: rgb(189, 185, 185);
  /* font-weight: bold; */
  font-size: larger;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.AppLogo {
  float: left;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(177, 67, 192);
}

.active {
  background-color: #4CAF50;
}